<div class="container">
  <div class="navigationBar">
    <h5 class="pull-left">{{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}</h5>
    <h5 class="pull-right">{{#link-to 'login'}}Login{{/link-to}}</h5>
  </div>
  <br><br>

  {{outlet}}
</div>
