<h1>My Blog</h1>
<div class="row">
  <div class="col-xs-10">
    {{#each model as |post|}}
      {{post-tiles post=post update="update" delete="destroyPost"}}
    {{/each}}
  </div>
  <div class="col-xs-2">
    {{new-post save="save"}}
  </div>
</div>
