<div class="banner">
  <div class="bannerText">
    <h1>My Blog</h1>
  </div>
  <img class="img-responsive" src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=c7217f91a3d86f623728d3a2438a88fc">
</div>
<div class="row">
  <div class="col-xs-10">
    {{#each model as |post|}}
      {{post-tiles post=post update="update" delete="destroyPost"}}
    {{/each}}
  </div>
  <div class="col-xs-2">
    {{new-post save="save"}}
  </div>
</div>
